{% extends 'base.html' %} {% block content %}
<style>
    h2 {
        color: #46e0ba;
        text-align: center;
    }
</style>
<link rel="stylesheet" type="text/css" href="/static/css/applications-reading-page.css"> {%if applications or flag_accepted_bid%}
<h2>Оферти за {{project.name}}</h2>
{%endif%} {% if not flag_accepted_bid and not applications %}
<h2>В момента няма оферти за вашия проект.
    <br>Моля, изчакайте ученик/студент да направи оферта...</h2>
{%endif%} {% if flag_accepted_bid%}
<h2>Приета оферта</h2>
<a href='/profile/{{accepted_bid.candidate.id}}'>
    <div class="bid-details">
        <div class="text-container">
            <h3 class="application-name">{{accepted_bid.candidate.first_name}} {{accepted_bid.candidate.last_name}}</h3>
            <div class="information-line">
                <p class="application-bids"><span class='button'>{{accepted_bid.bid}}{{accepted_bid.currency}}</span></p>
            </div>

            <p class="application-description">{{accepted_bid.cover_letter}}</p>
            <div class='buttons-container' style='left:32.5%;'>
                <button class='button'><a href='/projects/project_is_done/{{project.id}}'>Проектът е готов</a></button>
                <button class='button'><a href='/projects/remove_accepted_bid/{{accepted_bid.id}}'>Намерете друг ученик/студент</a></button>
            </div>
            <p class="application-date">преди {{accepted_bid.time_from_creating}}</p>
        </div>
    </div>
</a>
{% endif %} {% if flag_accepted_bid and applications %}
<h2 id='other-bids'>Други оферти</h2>
{% endif %}
<main class="applications-reading">
    {% for application in applications %}
        <a href='/profile/{{application.candidate.username}}'>
            <div class="bid-details">
                <div class="text-container">
                    <h3 class="application-name">{{application.candidate.first_name}} {{application.candidate.last_name}}</h3>
                    <div class="information-line">
                        <p class="application-bids"><span class='button'>{{application.bid}}{{application.currency}}</span></p>
                        <!--
                                <p class="application-pay">Budget: {{job.payment}}</p>
                                <p class="application-bids"><span class='button'>{{job.bids}}</span> bids</p>-->
                    </div>

                    <p class="application-description">{{application.cover_letter}}</p>
                    {% if flag_accepted_bid == False %}
                    <div class='buttons-container' style='left:32%'>
                        <button class='button'><a href='/projects/accept/{{application.id}}'>Приемане на оферта</a></button>
                        <button class='button'><a href='/projects/reject/{{application.id}}'>Отхвърляне на оферта</a></button>
                    </div>
                    {%else%}
                    <div class='buttons-container' style='left:43.5%'>
                        <button class='button'><a href='/projects/reject/{{application.id}}'>Отхвърлена оферта</a></button>
                    </div>
                    {%endif%}
                    <p class="application-date">преди {{application.time_from_creating}}</p>
                </div>
            </div>
        </a>
    {% endfor %}

</main>

{% endblock %}