{% extends 'base.html' %}
{% block content %}
	<div class="form-container">
			<section class="container">
				<h2>Create a new Job</h2>
				<form action="/projects/create_project/" class="form" method='post'>
					{% csrf_token %}
					<div class="input-box">
						<label>Project name</label>
						<input type="text" placeholder="New project" />
					</div>
					<div class="input-box">
						<label>Description</label>
						<textarea id="description" name="description" rows="4" cols="1" class="textarea" placeholder="A short description"></textarea>
					</div>
					<div class="input-box">
						<div class="responsibilities">
							<label>Responsibilities</label>
							<div class="newtask">
								<input id='responsibilities' placeholder="Responsibilities">
	
							</div>
							<button class="add">Add</button>
						</div>
					</div>
					<div class="input-box">
						<div class="skills">
							<label>Skills</label>
							<div class="newtask">
								<input class="textbox" type="text" placeholder="Add Skills">
							</div>
							<button class="add">Add</button>
						</div>
					</div>
					<div class="input-box">
						<label>Budget</label>
						<input type="text" placeholder="5$/h, 0.05$ per line, 100$, etc" />
					</div>

					<div class="input-box">
						<label>Current bids</label>
						<input type="number" placeholder="0" min="0" />
					</div>
					<input type="submit" value="Create job" id="submit-form-btn">
	</div>
	<script src='/static/js/skills.js'></script>
{% endblock %}