{% extends 'base.html' %}
{% block content %}

	<div class="form-container">
		<section class="container">
			<h2>Create a new Job</h2>
			<form action="/projects/create_project/" class="form" method='post'>
				{% csrf_token %}
				<div class="input-box">
					<label>Project name</label>
					<input type="text" placeholder="New project" name='title'/>
				</div>
				<div class="input-box">
					<label>Description</label>
					<textarea id="description" name="description" rows="4" cols="1" class="textarea" placeholder="A short description"></textarea>
				</div>
				<div class="input-box">
					<label>Responsibilities</label>
					<textarea rows="4" cols="1" class="textarea" placeholder="Responsibilities" id='responsibility-textarea'></textarea>
					<input name='responsibilities' value='' style='display:none;' id='responsibility-values' class="textbox" type="text">
					<button class="add" id='add-responsibility'>Add</button>
				</div>
				<div class="input-box">
					<div class="skills">
						<label>Skills</label>
						<div class="new-skill" id='skills-autocomplete-box'>
							<input id='skill-textbox' class="textbox" type="text" placeholder="Add Skills">
							<input name='skills' value='' style='display:none;' id='skill-values' class="textbox" type="text">
						</div>
						
						<button class="add" id='add-skill'>Add</button>
					</div>
				</div>
				<div class="input-box">
					<label style='font-size:20px;'>Budget</label>
					<input type="radio" class='radio-btn' value='payment-for-hour' name="payment-type" id='payment-type-hour'>
					<label class="text" for="payment-type-hour">Payment for hour</label>
					<div id="textBoxDivFirst" style="display:none;">
						<div class="currency">
							<input class="const payment-cost" name='payment-hour' type="number" placeholder='10' min='0' id='payment-type-hour-input'>
							<select class="select" id="select1" name='currency'>
							<option value="EUR">EUR</option>
							<option value="USD">USD</option>
							<option value="GBP">GBP</option>
							<option value="BGN">BGN</option>
							</select>
						</div>
					</div>
					<input type="radio" class='radio-btn' value='payment-for-project' name="payment-type" id='payment-type-project'>
					<label class="text" for="payment-type-project">Payment for project</label>
					<div id="textBoxDivSecond" style="display:none;">
						<div class="currency">
							<input class="const payment-cost" name='payment-project' type="number" min='0' placeholder='150' id='payment-type-project-input' >
							<select class="select" id="select2" name='currency'>
							<option value="EUR">EUR</option>
							<option value="USD">USD</option>
							<option value="GBP">GBP</option>
							<option value="BGN">BGN</option>
						</select>
						</div>
					</div>
				</div>
			
					<input type="submit" value="Create job" id="submit-form-btn">
				
	</div>
	</div>
	
	<script src='/static/js/responsibility.js'></script>
	<script src='/static/js/radio_button.js'></script>
	<script src='/static/js/skills-autocomplete.js'></script>
	<script src='/static/js/skills.js'></script>
{% endblock %}