{% extends 'base.html' %} {% block content %}
<main class="front-container">
    <div class="intro">
        <h1>Ловци на проекти</h1>
        <p>Имате софтуерен проблем, вече е решен!</p>
        <a href="/accounts/choose_role">
            <button class="button">Регистрация</button>
        </a>
    </div>
    <div class="achievements">
        <div class="work">
          <i class="fa-regular fa-lightbulb"></i>
            <p class="work-heading">Цел</p>
            <p class="work-text">Целта ни е да свържем талантливи ученици и бизнеса. Бизнесът поставя задачи, а учениците и студентите ги решават.</p>
        </div>
        <div class="work">
            <i class="fa-solid fa-graduation-cap"></i>
            <p class="work-heading">Опит</p>
            <p class="work-text" style='margin-left:50px;'>Даваме възможност на учениците и студентите да придобият опит като участват в проекти и практики. Свързваме ги с различни бизнеси.</p>
        </div>
        <div class="work">
            <i class="fa-solid fa-briefcase"></i>
            <p class="work-heading">Стаж</p>
            <p class="work-text" >Подобряваме реализацията на младежите на пазара на труда. Разкриваме нови кариерни възможности.</p>
        </div>
    </div>
</main>
{% endblock %}