{% extends 'base.html' %}
{% block content %}
	<main class="jobs-reading">
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
        <div class="job">
            <div class="text-container">
                <h3 class="project-name">Project name</h3>
                <div class="information-line">
                    <p class="project-details">Project Tags</p>
                    <p class="project-pay">5$/h</p>
                    <p class="project-bids">14</p>
                </div>

                <p class="project-description">Project Hunter is the best app on the planet.</p>
            </div>    
        </div>
    </main>
{% endblock %}