{% extends 'base.html' %}
{% block content %}
    <main class="jobs-reading">
        {% for job in jobs %}
            <a href='project-detials/{{job.id}}'>
                <div class="job">
                    <div class="text-container">
                        <h3 class="project-name">{{job.name}}</h3>
                        <div class="information-line">
                            <p class="project-details">
                                {%for skill in job.skills%}
                                    <span style='color: #46e0ba;'>{{skill}}</span>
                                {%endfor%}
                            </p>
                            <p class="project-pay">
                                Заплащане: {{job.payment}}{{job.currency}}{%if job.payment_type_hourly%}/h{%endif%}
                            </p>
                            <p class="project-bids"><span class='button'>{{job.bids}}</span> оферти</p>
                        </div>

                        <p class="project-description">{{job.description}}</p> 
                        <p class="project-date">преди {{job.time_from_creating}}</p> 
                    </div>    
                </div>
            </a>
        {% endfor %}
    </main>
{% endblock %}