{% extends 'base.html' %} {% block content %}
<div class="form-container">
    <section class="container">
        <img src="/static/images/login.png">
        <form action="login" class="form" method='post'>
            {% csrf_token %}
            <div class="input-box">
                <label>Имейл адрес</label>
                <input type="text" placeholder="E-мейл" name='email' required />
            </div>

            <div class="input-box">
                <label>Парола</label>
                <input type="password" placeholder="Парола" name='password' required />
            </div>

            <input type="submit" value="Влез в акаунта си" id="submit-form-btn">
        </form>
    </section>
</div>
{% endblock %}