{% extends 'base.html' %} {% block content %}
<style>
    #download-btn{
        font-size:20px;
    }
</style>
<link rel="stylesheet" type="text/css" href="/static/css/job-details-2.css">
<div class="form-container">
    <section class="container">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <div class="basic-info">
            <div class="left-part">
                <span class='info-spans' id='skills-info'>Умения: 
                {%for skill in cv.skills%}
                    <span style='color: #46e0ba;'>{{skill}}</span>
                {%endfor%}</span><br>
            </div>
            <div class="right-part">
                Специалност:<span style='color: #46e0ba;'> {{cv.title}}</span>
            </div>
        </div>
        <div id='description'>
            <span>Описание: </span>
            <p>{{cv.about_me}}</p>
            <a href="/profile/download-cv/{{user.username}}" id='download-btn' class='button'><i class="fa-solid fa-download"></i> Изтеглете CV-то</a>
            <span>Предишни проекти: </span>
            <ul id='responsibility-list'>
                {%for responsibility in project.responsibilities%}
                <li>{{responsibility}}</li>
                {%endfor%}
            </ul>
        </div>
        <div class="options">
            {% if request.user == cv.user %}
                <a href="/profile/profile-edit/{{user.username}}" id='edit-btn'><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="/profile/profile-delete/{{user.username}}" id='delete-btn'><i class="far fa-trash-alt"></i></a> 
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}