{% extends 'base.html' %}
{% block content %}
    {% for job in user_jobs %}
        <main class="jobs-reading">
            <div class="job">
                <div class="text-container">
                    <h3 class="project-name">{{job.name}}</h3>
                    <div class="information-line">
                        <p class="project-details">{{job.details}}</p>
                        <p class="project-pay">{{job.pay}}</p>
                        <p class="project-bids">{{job.bids}}</p>
                    </div>

                    <p class="project-description">{{job.description}}</p>
                </div>    
            </div>
        </main>
    {% endfor %}
{% endblock %}