{% extends 'base.html' %}
{% block content %}
    <div class="form-container">
        <section class="container">
            <h2>{{selected_role_capitalize}} Registration</h2>
            <form action="registrate_user" class="form" method="post">
                {% csrf_token %}
                <div class="input-box">
                    <label>First name</label>
                    <input type="text" id="first-name" placeholder="Enter first name" name="first_name" required />
                </div>
                <div class="input-box">
                    <label>Last name</label>
                    <input type="text" id="last-name" placeholder="Enter last name" name="last_name" required />
                </div>
                <div class="input-box ">
                    <label>Create a Username</label>
                    <input type="text" id="username" placeholder="Enter username" name="username" required />
                </div>
                <div class="input-box ">
                    <label>Email Address</label>
                    <input type="text" id="email" placeholder="Enter email address" name="email" required />
                </div>

                <div class="input-box ">
                    <label>Password</label>
                    <input type="password" id="password" placeholder="Enter password" name="password" required />
                </div>
                <input type="text" value='{{selected_role}}'  name="role" style='display:none;'/>
                <input type="submit" value="Sign up as a {{selected_role_capitalize}}" id="submit-form-btn">
            </form>
        </section>
    </div>
    <!--<script src='/static/js/registration.js'></script>-->
{% endblock %}