{% extends 'base.html' %}
{% block content %}
        <main>
            <section class="teamboard">
                <table class="table-fill">
                    <thead>
                        <tr>
                            <th class="Id__title">ID</th>
                            <th class="tname__title">Team Name</th>
                            <th class="members__title">Members</th>
                            <th class="spots__title">Spots Filled</th>
                            <th class="points__title">Team Points</th>
                        </tr>
                    </thead>
                    <tbody id="leaderboard">
                        <tr>
                               <td class="iota__Id">1</th>
                               <td class="iota__tname">Hunters</td>
                               <td class="iota__members">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                              </td>
                               <td class="iota__spots">5/5</td>
                               <td class="iota__points">143</td>
                        </tr>
                        <tr>
                            <td class="iota__Id">2</th>
                            <td class="iota__tname">Banana</td>
                            <td class="iota__members">
                             <span class="dot1"></span>
                             <span class="dot2"></span>
                             <span class="dot3"></span>
                             <span class="dot4"></span>
                             <span class="dot5"></span>
                           </td>
                            <td class="iota__spots">5/5</td>
                            <td class="iota__points">88</td>
                     </tr>
                     <tr>
                        <td class="iota__Id">3</th>
                        <td class="iota__tname">Coca-Cola</td>
                        <td class="iota__members">
                         <span class="dot1"></span>
                         <span class="dot2"></span>
                         <span class="dot3"></span>
                         <span class="dot4"></span>
                         <span class="dot5"></span>
                       </td>
                        <td class="iota__spots">5/5</td>
                        <td class="iota__points">102</td>
                 </tr>
                 <tr>
                    <td class="iota__Id">4</th>
                    <td class="iota__tname">Lulin </td>
                    <td class="iota__members">
                     <span class="dot1"></span>
                     <span class="dot2"></span>
                     <span class="dot3"></span>
                     <span class="dot4"></span>
                     <span class="dot5"></span>
                   </td>
                    <td class="iota__spots">5/5</td>
                    <td class="iota__points">67</td>
             </tr>
             <tr>
                <td class="iota__Id">5</th>
                <td class="iota__tname">NPMG elita</td>
                <td class="iota__members">
                 <span class="dot1"></span>
                 <span class="dot2"></span>
                 <span class="dot3"></span>
                 <span class="dot4"></span>
                 <span class="dot5"></span>
               </td>
                <td class="iota__spots">5/5</td>
                <td class="iota__points">182</td>
         </tr>
                    </tbody>
                </table>
            </section>
        </main>            
{% endblock %}